/* Create your test CSS here */

.special {
    color: red;
  }
  
  p {
    color: blue;
    background-color: yellow;
  }

  .box {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.8turn);
  }

  body {
    background-color: grey;
  }
  